/* ------------- General ----------*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* --------- Main Page -------- */

.main-page {
    margin: 0px;
    height: 100%;
    background-image: url(/resources/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.content {
    width: 95%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.card {
    max-width: 550px;
    align-self: center;
    padding: 20px 0px 10px 5px;
    background-color: #f1edef;
    border: 2px outset #01121c;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0b2e2f;
    display: flex;
    flex-wrap: wrap;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    width: 100%;
    text-align: center;
    flex: 1 1 200px;
}

.name small {
    padding: 2px;
    font-size: 15px;
    color: dimgray;
    display: block;
    text-align: center;
}

.links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    text-align: left;
    flex: 1 1 200px;
}

.links-list {
    border-left: 1px solid #272727;
}

ul li {
    list-style: square;
    padding: 2px;
}

.links-list a {
    text-decoration: none;
    color: dimgray;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 15px;
    margin: 10px auto;
}


/* ----------- CV ------------ */

.cv-page {
    margin: 0;
    padding: 0px 40px;
    height: 100%;
    padding: 20px;
}

.cv-content {
    margin: auto;
    max-width: 1000px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

.cv-header {
    display: inline-block;
    margin: auto;
}

.cv-header h1 {
    font-size: 36px;
    margin: 0px;
}

h2 {
    font-size: 20px;
    margin-bottom: 0;
    color: black;
}

h2.current-position {
    font-weight: normal;
    margin: 0px;
    /* margin-top: -1.5rem; */
}

.contacts-list a {
    text-decoration: none;
    color: black;
}

table {
    text-align: left;
}

th,
td {
    vertical-align: text-top;
    border-bottom: 1px solid #ddd;
}

.left {
    width: 100px;
}

.last {
    border-bottom: none;
}

hr {
    margin-bottom: -10px;
}

.about-text {
    text-align: center;
}